/*for index page*/
.menu
{
height:100px;
width:1200px;
background:#AED6F1;
border-radius:6px;
}
.reg1
{
min-height:330px;
background-repeat:no-repeat;
background-size:100% 100%;
border-radius:0px 6px 6px 0px;
}
.reg2
{
min-height:320px;
background-repeat:no-repeat;
background-size:100% 100%;
}
.footer
{
width:1200px;
height:500px;
border:5px solid black;
box-shadow:2px 2px 20px black;
border-radius:6px;
margin-left:18px;
}
#w
{
height:60px;
width:60px;
}
#fb
{
height:60px;
width:60px;
}
#t
{
height:60px;
width:60px;
}
#i
{
height:60px;
width:60px;
}
#y
{
height:60px;
width:60px;
}
#g
{
height:60px;
width:60px;
}

/*for contact page*/
#header
{
height:200px;
width:1210px;
margin-left:15px;
margin-top:5px;
background:#FF6B6B;
}
.menu
{
height:100px;
width:1210px;
background:#AED6F1;
}
#form
{
height:350px;
width:1210px;
margin-left:15px;
}
#form1
{
height:350px;
width:605px;
float:left;
}
#form2
{
height:350px;
width:605px;
float:right;
}
#map
{
height:400px;
width:950px;
margin-left:200px;
}
#footer
{
height:200px;
width:1210px;
margin-left:15px;
margin-bottom:5px;
background:#FF99FF;
}

/*for appointment*/
#img1
{
height:150px;
width:1205px;	
margin-left:3px;
}
#font
{
height:150px;
width:600px;
float:right;
}
#img2
{
height:400px;
width:1205px;	
margin-left:3px;
}









